<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eccomerce</title>
</head>


<body>
<!-- JUST A SIMPLE VIEW TO SHOW HOW OUR FORM LOOKS ON BROWSER  ... TO USE IT JUST RENDER HOME -->


    <h1>This is an ecomerce website</h1>
    <form action="products/create" method="post">
        <input type="number" name="id" placeholder="Enter id.."><br>
        <input type="text" name="name" placeholder="Enter produt Name..."><br>
        <input type="number" name="quantity" , placeholder="Enter quantity.."><br>
        <input type="submit" value="submit">
    </form>
</body>
</html>